name: Lint and build

on:
  pull_request:
    branches: [main]

jobs:
  lint-built:
    runs-on: ubuntu-latest

  steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Use Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: "20"

    - name: Install dependencies
      run: npm install

    - name: Lint code
      run: npm run lint:check

    - name: Build code
      run: npm run build
